<div class="order">
  <a href="#">
    {{title}}
  </a>
</div>

<main id="wrapper">
  <div class="grid2">
    <div>
      <p>
        Please write to us for any queries suggestions. These will help us
        improving your online ordering experience
      </p>


    </div>
    <div class="second">

    </div>
  </div>
</main>