<div class="order">
      <a href="#">
       {{title}} 
      </a>
    </div>

    <main id="wrapper">
      <button class="accordion">Where are you located?</button>
      <div class="panel">
        <p>564,Mainland Imaginary Road, Hometown, Canada.</p>
      </div>

      <button class="accordion">What are your working hours?</button>
      <div class="panel">
        <p>We are open all seven days 10am to 9pm.</p>
      </div>

      <button class="accordion">What are your payment methods?</button>
      <div class="panel">
        <p>We accept cash and cards.</p>
      </div>
      <button class="accordion">What kinds of products do you sell?</button>
      <div class="panel">
        <p>We have varieties of cakes, cupcakes and cookies.</p>
      </div>

      <button class="accordion">Are your products customizable?</button>
      <div class="panel">
        <p>Yes, we provide different customize options.</p>
      </div>

      <button class="accordion">Do you make wedding cakes?</button>
      <div class="panel">
        <p>Yes, we do wedding cakes but only on preordering.</p>
      </div>
      <button class="accordion">
        What is the minimum order for custom cupcakes?
      </button>
      <div class="panel">
        <p>Custom cupcakes can be done with a minimum order of 2 dozens.</p>
      </div>

      <button class="accordion">Can I put something on hold?</button>
      <div class="panel">
        <p>Yes, with advance payment of 50%.</p>
      </div>

      <button class="accordion">
        How early do we have to order for large parties?
      </button>
      <div class="panel">
        <p>About one to two weeks is recommended.</p>
      </div>
      <button class="accordion">Do you have any eggless options?</button>
      <div class="panel">
        <p>Yes we have eggless cake options also.</p>
      </div>

      <button class="accordion">Do you deliver?</button>
      <div class="panel">
        <p>Yes within 5-10km around the store.</p>
      </div>

      <button class="accordion">
        Do you have cakes ready for purchase in the store?
      </button>
      <div class="panel">
        <p>Yes we have fresh items daily in the store.</p>
      </div>
    </main>