<div class="carousel">
  <img class="slider-img" src="img/banner.png" alt="images" />
</div>

<div class="order">
  <a href="order.html">
    Make an order now!
  </a>
</div>

<main id="wrapper">
  <section class="grid3">
    <div>
      <h2>Whiteforest Cake</h2>
      <img src="img/whiteforest.jpeg" alt="cake" />
      <br />
      <blockquote>$20.00</blockquote>
      <p>
        Three layers of vanilla sponge cake with vanilla flavored whipped
        cream and fresh berry filling in between.
      </p>
      <button class="btn btn-outline-pink">Order Now</button>
    </div>
    <div>
      <h2>Candy Cake</h2>
      <img src="img/candycake.jpg" alt="cake" />
      <br />
      <blockquote>$20.00</blockquote>
      <p>
        Layers of chocolate sponge cake with decadent chocolate sauce and
        assorted candy toppings.
      </p>
      <button class="btn btn-outline-pink">Order Now</button>
    </div>
    <div>
      <h2>Vanilla Buttercream Cake</h2>
      <img src="img/vanilla.jpg" alt="cake" />
      <br />
      <blockquote>$20.00</blockquote>
      <p>
        Unicorn theme birthday cake with layers of butter cake and vanilla
        buttercream frosting.
      </p>
      <button class="btn btn-outline-pink">Order Now</button>
    </div>
  </section>
</main>