<main id="wrapper">
      <div class="grid1">
        <form id="contact" class="login" action="#" method="POST">
          <fieldset class="order">
            <div id="form-caption">
              Login
            </div>
          </fieldset>
          <fieldset>
            <input
              placeholder="Your Email Address"
              type="email"
              tabindex="1"
              required
            />
          </fieldset>
          <fieldset>
            <input
              placeholder="Your password"
              type="password"
              tabindex="2"
              required
            />
          </fieldset>

          <fieldset>
            <button
              name="submit"
              type="submit"
              id="contact-submit"
              data-submit="...Sending"
            >
              Login
            </button>
          </fieldset>
          <fieldset>
            <a href="register.html">Not Registered?</a>
          </fieldset>
          <fieldset>
            <a href="#">Forgot Password?</a>
          </fieldset>
        </form>
      </div>
    </main>