<main id="wrapper">
  <div class="grid1">
    <form id="contact" class="login" action="#" method="POST">
      <fieldset>
        <div class="order">
          <div id="form-caption">
            Register
          </div>
        </div>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="1" required />
      </fieldset>
      <fieldset>
        <input placeholder="Your User Name" type="text" tabindex="2" required />
      </fieldset>
      <fieldset>
        <input placeholder="Your password" type="password" tabindex="3" required />
      </fieldset>
      <fieldset>
        <input placeholder="Confirm password" type="password" tabindex="4" required />
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
          Register
        </button>
      </fieldset>
      <fieldset>
        <a href="login.html">Already a user?</a>
      </fieldset>
    </form>
  </div>
</main>
<footer>
  <div class="wrapper">
    <div class="row">
      <div id="logo">
        <a href="index.html">baker's point</a>
      </div>
      <div class="desktop-only">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="desktop-only">
        <address>
          <br />
          Contact us at:<br />
          <a href="mailto:feedback@bakers-point.com">feedback@bakers-point.com</a><br />
          564, Mainland, Imaginary Road<br />
          Hometown, Canada
        </address>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; <span class="year"></span> All rights reserved
  </div>